<!-- http://codepen.io/iraycd/pen/dHrxv -->

<header>
    <a id="Trigger" class="trigger fa" onclick="LinkButtonTrigger_Click(this)">&#xf0c9;</a>
    <h1><a href="/">Jarvis</a></h1>
</header>

<section id="Content" class="content">

  <article ng-repeat="file in filesOnline">
    <a title="{{file.date_creation}} ">
      <img height="42" width="42" src="assets/images/{{file.icon}}"/>
      <p class="width80" ng-click="edit(file)">{{file.name}}</p>
      <div class="width10" ng-click="download(file)">

        <div class="icon-button fa">&#xf142;</div>

      </div>
    </a>
  </article>

</section>

<section id="NavigationMenu" class="navigation-menu">
  <ul>
    <li><a ng-click="switchTab(1)">Files</a></li>
    <li><a ng-click="switchTab(2)">Talks</a></li>
    <li><a href="">{{information}}</a></li>
  </ul>
</section>

<div id="fab1" class="fab blue" onclick="LinkButtonFAB_Click(this)">
  <div class="icon">+</div>
  <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
</div>

<div id="fab2" style="display:none;" class="fab blue second">
  <div class="icon">˄</div>
  <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
</div>

<div id="Dialog" class="dialog">
  <div class="content">
    <div id="Dialog_Title" class="title"></div>
    <div id="Dialog_Description" class="description"></div>
    <div id="Dialog_PlaceHolder" class="placeholder"></div>
  </div>
</div>

<div id="Dialog_Upload" class="dialog">
  <div class="content">
    <div id="Dialog_Title" class="title">Upload file</div>
    <div id="Dialog_Description" class="description">Select the file you want to upload.</div>
    <div id="Dialog_PlaceHolder" class="placeholder">

      <div ng-controller="FileCtrl" id="upload">
        <input class="input" type="file" file-input="files" multiple/>
        <ul>
          <li ng-repeat="file in files">{{file.name}}</li>
        </ul>

        <div type="submit" ng-click="upload()" class="button label-blue left">
          <div class="center" fit>UPLOAD</div>
          <paper-ripple fit></paper-ripple>
        </div>
        
        <div class="button right" onclick="LinkButtonFAB_Click(this)">
          <div class="center" fit>CANCEL</div>
          <paper-ripple fit></paper-ripple>
        </div>

      </div>

    </div>
  </div>
</div>
