<!-- http://codepen.io/iraycd/pen/dHrxv -->

<header>
    <a id="Trigger" class="trigger md-icon dp34" onclick="LinkButtonTrigger_Click(this)">menu</a>
    <h1><a href="/">FileSpace</a></h1>
    <label id="PublicCheckbox" class="left-checkbox">Public files<input type="checkbox" ng-model="leftMenu.allPublic"></label>
</header>

<section id="Content" class="content">

  <article ng-repeat="file in filesOnline" ng-hide="leftMenu.allPublic == true">
    <div class="item-list" title="{{file.date_creation}}">
      <img height="42" width="42" src="assets/images/{{file.icon}}" ng-click="edit(file)"/>
      <a class="title file-id-{{file.id}} file-type-{{file.type}}" ng-click="edit(file)">{{file.name}}</a>
      <a class="subtitle file-id-{{file.id}} file-type-{{file.type}}" ng-click="edit(file)">{{ (file.directory)?(file.count + " file"+((file.count>0)?"s":"")):file.size }}</a>
      <div class="file-more" ng-click="download(file)">

        <div class="icon-button fa">&#xf142;</div>

      </div>
    </div>
  </article>

  <article ng-repeat="file in filesPublicOnline" ng-show="leftMenu.allPublic == true">
    <div class="item-list" title="{{file.date_creation}}">
      <img height="42" width="42" src="assets/images/{{file.icon}}" ng-click="edit(file)"/>
      <a class="title file-id-{{file.id}} file-type-{{file.type}}" ng-click="edit(file)">{{file.name}}</a>
      <a class="subtitle file-id-{{file.id}} file-type-{{file.type}}" ng-click="edit(file)">{{ (file.directory)?(file.count + " file"+((file.count>0)?"s":"")):file.size }}</a>
      <div class="file-more" ng-click="download(file)">

        <div class="icon-button fa">&#xf142;</div>

      </div>
    </div>
  </article>

</section>

<section id="NavigationMenu" class="navigation-menu">

  <ul>
    <li><a ng-click="switchTab(1)">Files</a></li>
    <li><a ng-click="switchTab(2)">Talks</a></li>
    <li><a href="">{{information}}</a></li>
  </ul>
</section>

<div id="fab1" class="fab blue" onclick="LinkButtonFAB_Click(this)">
  <div class="icon">+</div>
  <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
</div>

<div id="fab2" style="display:none;" class="fab blue second">
  <div class="icon">˄</div>
  <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
</div>

<div id="Dialog" class="dialog">
  <div class="content">
    <div id="Dialog_Title" class="title"></div>
    <div id="Dialog_Description" class="description"></div>
    <div id="Dialog_PlaceHolder" class="placeholder"></div>
  </div>
</div>

<div id="Dialog_Upload" class="dialog">
  <div class="content">
    <div id="Dialog_Title" class="title">Upload file</div>
    <div id="Dialog_Description" class="description">Select the file you want to upload.</div>
    <div id="Dialog_Description2" class="description"></div>
    <div id="Dialog_PlaceHolder" class="placeholder">

      <div ng-controller="FileCtrl" id="upload">
        <input class="input" type="file" file-input="files" multiple/>
        <ul>
          <li ng-repeat="file in files">{{file.name}}</li>
        </ul>

        <div type="submit" ng-click="upload()" class="button label-blue left">
          <div class="center" fit>UPLOAD</div>
          <paper-ripple fit></paper-ripple>
        </div>
        
        <div class="button right" onclick="LinkButtonFAB_Click(this)">
          <div class="center" fit>CANCEL</div>
          <paper-ripple fit></paper-ripple>
        </div>

      </div>

    </div>
  </div>
</div>
