@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  text-decoration: none;
}
a {
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #f2f2f2;
  font-size: 62.5%;
}
.width100 {
  width: 100%;
}
.width85 {
  width: 85%;
}
.width80 {
  width: 80%;
}
.width75 {
  width: 75%;
}
.width50 {
  width: 50%;
}
.width35 {
  width: 35%;
}
.width25 {
  width: 25%;
}
.width20 {
  width: 20%;
}
.width15 {
  width: 15%;
}
#wrapper header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1.5em 5%;
  background: #26aeee;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
#wrapper header h1 {
  display: block;
  left: 5%;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
#wrapper section.content {
  position: relative;
  width: 90%;
  top: 10em;
  margin: auto;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
#wrapper section.content article a {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 2em 1em 2em 1em;
  box-sizing: border-box;
}
#wrapper section.content article a:hover {
  background: rgba(38, 174, 238, 0.05);
}
#wrapper section.content article p {
  color: #727272;
  font-size: 1.1rem;
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.8em;
}
#wrapper .fab {
  position: fixed;
  right: 10%;
  bottom: 20px;
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#wrapper .fab.blue {
  background-color: #26aeee;
}
#wrapper .fab:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
#wrapper .fab > core-icon {
  margin: 16px;
}
#wrapper .fab > core-icon::shadow path {
  fill: #fff;
}
#wrapper footer {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: auto;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  vertical-align: middle;
}
#wrapper footer h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0 15px;
  font-weight: normal;
}
#wrapper footer input {
  display: block;
  box-sizing: border-box;
  margin: 13px auto;
  width: 80%;
  height: 40px;
  padding: 2px 10px;
  border: none;
  font-size: 1.1rem;
  color: #727272;
  background: white;
}
#wrapper footer ::-webkit-input-placeholder {
  font-size: 0.9rem;
}
#wrapper footer ::-moz-placeholder {
  font-size: 0.9rem;
}
#wrapper footer :-ms-input-placeholder {
  font-size: 0.9rem;
}
#wrapper footer input:-moz-placeholder {
  font-size: 0.9rem;
}
#wrapper footer button {
  cursor: pointer;
  display: block;
  width: 80%;
  height: 40px;
  margin: 25px auto;
  border: none;
  background: #26aeee;
  color: white;
  text-transform: uppercase;
}
form {
  background: #fafafa;
  width: 300px;
  margin: 0 auto;
  top: 20%;
  vertical-align: middle;
}
form h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0 15px;
  font-weight: normal;
}
form input {
  display: block;
  box-sizing: border-box;
  margin: 13px auto;
  width: 250px;
  height: 40px;
  padding: 2px 10px;
  border: none;
  font-size: 1.1rem;
  color: #727272;
  background: white;
}
form ::-webkit-input-placeholder {
  font-size: 0.9rem;
}
form ::-moz-placeholder {
  font-size: 0.9rem;
}
form :-ms-input-placeholder {
  font-size: 0.9rem;
}
form input:-moz-placeholder {
  font-size: 0.9rem;
}
form button {
  cursor: pointer;
  display: block;
  width: 250px;
  height: 40px;
  margin: 25px auto;
  border: none;
  background: #26aeee;
  color: white;
  text-transform: uppercase;
}
form div {
  background: white;
  padding: 18px;
}
form div p {
  text-align: center;
  font-size: 0.9rem;
  color: #727272;
}
form div p a {
  text-decoration: none;
  color: #26aeee;
}
form div p a:hover {
  text-decoration: underline;
}
