@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@blue: #26AEEE;
@grey : #727272;
@black : #202020;
@background: #f2f2f2;

@border-radius : 3px;

@max-width: 1000px;
@width: 90%;

@h1 : 1.9rem;
@h2 : 1.4rem;
@p : 1.1rem;


@font-face {
  font-family: 'Roboto-Regular';
  src:  url('../fonts/roboto/Roboto-Regular.eot');
  src:  url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto-Medium';
  src:  url('../fonts/roboto/Roboto-Medium.eot');
  src:  url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Medium.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto-Light';
  src:  url('../fonts/roboto/Roboto-Light.eot');
  src:  url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light.woff') format('woff'),
        url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Light.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto-Thin';
  src:  url('../fonts/roboto/Roboto-Thin.eot');
  src:  url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
        url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Thin.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.md-icon {
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.md-icon.dp48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}
.md-icon.dp34 {
  font-size: 34px;
  width: 34px;
  height: 34px;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 100;
  src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EA9FPPhm6yPYYGACxOp9LMJ4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EAyeJLMOzE6CCkidNEpZOseY.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwbBojE9J5UnpMtv5N3zfxwk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwSqHEX2q--o2so14pIEl08w.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 900;
  src: local('RobotoDraft Black'), local('RobotoDraft-Black'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwcpPZoEQdaDZ3o3Np19rzJk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwUExzZ44ka2Lr5i-x5aWr0E.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfsu2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTftkZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 700;
  src: local('RobotoDraft Bold Italic'), local('RobotoDraft-BoldItalic'), url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt549ObOXPY1wUIXqKtDjSdsY.woff2) format('woff2'), url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt5wRV2F9RPTaqyJ4QibDfkzM.woff) format('woff');
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}


*{
	margin:0;
	padding:0;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	font-weight: normal;
	text-decoration: none;
}

a{
	color:inherit;
}

html,body{
	width:100%;
	height:100%;
}

body{
	background:@background;
	font-size:62.5%;
}

.width100{
	width: 100%;
}
.width95{
	width: 95%;
}
.width90{
	width: 90%;
}
.width85{
	width: 85%;
}
.width80{
	width: 80%;
}
.width75{
	width: 75%;
}
.width50{
	width: 50%;
}
.width35{
	width: 35%;
}
.width25{
	width: 25%;
}
.width20{
	width: 20%;
}
.width15{
	width: 15%;
}
.width10{
	width: 10%;
}
.width5{
	width: 5%;
}

#wrapper{
	height: 100%;

	header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
  		height: 64px;
		background:@blue;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);

		.trigger {
			position: absolute;
			color: #fff;
			top: 12px;
			margin-left: 42px;
			cursor: pointer;
		}

		h1{
			position: absolute;
			top: 10px;
			margin-left: 102px;
			font-size: @h1;
			color:white;

			a {
				font-family: 'Roboto-Light','Montserrat', sans-serif;
			}
		}

		h1:before{

		}
	}

	section.navigation-menu {
		position: fixed;
		height: 100%;
		width: 40%;
		background-color: #fff;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
		top: 0;
		left: -40%;
		padding-top: 100px;
		
		-webkit-transition: -webkit-transform .4s linear, visibility 0s linear 0.5s;
		-moz-transition: -moz-transform .4s linear, visibility 0s linear 0.5s;
		-ms-transition: -ms-transform .4s linear, visibility 0s linear 0.5s;
		-o-transition: -o-transform .4s linear, visibility 0s linear 0.5s;
		transition: transform .4s linear, visibility 0s linear 0.5s;

		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);

		visibility: hidden;
	}

	section.navigation-menu.open {
		-webkit-transition: -webkit-transform .4s linear, visibility 0s linear 0s;
		-moz-transition: -moz-transform .4s linear, visibility 0s linear 0s;
		-ms-transition: -ms-transform .4s linear, visibility 0s linear 0s;
		-o-transition: -o-transform .4s linear, visibility 0s linear 0s;
		transition: transform .4s linear, visibility 0s linear 0s;

		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);

		visibility: visible;
	}

	section.content{
		position: relative;
		width: calc('100% - 48px');
  		margin: 9em 24px 8em;
		background:white;
		border:1px solid #dbdbdb;
		border-radius: @border-radius;

		article{
			height: 76px;

			cursor: pointer;

			a{
				display:block;
				position: relative;
				width:100%;
				table-layout: fixed;
				box-sizing: border-box;

				img {
					display: inline-block;
  					margin: 16px;
				}

				.file-more {
					position: absolute;
					right: 16px;
					top: 16px;
					height: 43px;
					width: 43px;
				}

				&:hover{
					background: rgba(38,174,238,0.05);
				}
			}

			p {
				position: absolute;
				color: @grey;
				font-size:@p;
				font-family: 'Open Sans', sans-serif;
				text-decoration: none;
				overflow: hidden;
				white-space: nowrap;
				top: 26px;
				left: 80px;
				right: 80px;
			}

		    .icon-button {
		    	margin-top: 12px;
		    	color: #727272;
		    	padding: 0 1em 0 1em;
				font-size: 2em;
				text-align: center;
		    }

		}
	}
	
	.fab {
		position: fixed;
		right: 10%;
		bottom: 20px;
		display: inline-block;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		color: #fff;
		overflow: hidden;
		transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		transition-delay: 0.2s;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		cursor: pointer;

		.icon {
			color: #fff;
			margin-top: 7px;
			font-size: 3.4em;
			text-align: center;
		}
	}
	.fab.second {
		bottom: 96px;
	}
	.fab.blue {
		background-color: @blue;
	}
	.fab:active {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		transition-delay: 0s;
	}
	.fab > core-icon {
		margin: 16px;
	}
	.fab > core-icon::shadow path {
		fill: #fff;
	}


	/* Card, Dialog */
    .dialog {
		position: fixed;
		display: inline-block;
		z-index: 2;
		margin: auto;
		top: 100%;
		left: 15%;
		width: 70%;
		height: 60%;
		vertical-align: top;
		background-color: #fff;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);

		-webkit-transition: -webkit-transform .4s linear, visibility 0s linear 0.5s;
		-moz-transition: -moz-transform .4s linear, visibility 0s linear 0.5s;
		-ms-transition: -ms-transform .4s linear, visibility 0s linear 0.5s;
		-o-transition: -o-transform .4s linear, visibility 0s linear 0.5s;
		transition: transform .4s linear, visibility 0s linear 0.5s;

		visibility: hidden;

		.content {
			height: 170px;
			font-size: 1.4em;

			.title {
		      font-size: 1.6em;
		      margin: 0 0 1.2em 0;
		    }

		    .placeholder {
				margin: 2em 0 2em 0;
			}
		}

		.button {
			cursor: pointer;
			position: absolute;
			bottom: 1em;
		}
		.button.left {
			left: 0.5em;
		}
		.button.right {
			right: 0.5em;
		}


		textarea {
			display: block;
			position: absolute;
			box-sizing: border-box;
			width: 93%;
			margin: 20px 0;
			bottom: 40px;
			top: 45px;
			padding: 20px;
			border: 1px solid #fff;
			resize: none;
			overflow: auto;
			box-shadow: none;
			border-radius: 5px;
			background: #f2f2f2;			
		}

    }

    .dialog.open {
		-webkit-transition: -webkit-transform .4s linear, visibility 0s linear 0s;
		-moz-transition: -moz-transform .4s linear, visibility 0s linear 0s;
		-ms-transition: -ms-transform .4s linear, visibility 0s linear 0s;
		-o-transition: -o-transform .4s linear, visibility 0s linear 0s;
		transition: transform .4s linear, visibility 0s linear 0s;

		-webkit-transform: translateY(-130%);
		-moz-transform: translateY(-130%);
		-ms-transform: translateY(-130%);
		-o-transform: translateY(-130%);
		transform: translateY(-130%);

		visibility: visible;
    }
    
    .dialog {
      box-sizing: border-box;
      padding: 16px;
      overflow: auto;
    }
    
    /* Misc */
    .center {
      text-align: center;
    }

    /* Button */
    .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 1.3em;
      background-color: #fff;
      color: #646464;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }

    .label-blue {
      color: #4285f4; 
    }

}


.login {
	display: table;
	height: 100%;
	width: 100%;

	.login-center {
		display: table-cell;
		vertical-align: middle;

		form {
			background:#fafafa;
			width: 300px;
		    margin: 0 auto;

			h1 {
				text-align: center;
				text-transform: uppercase;
				padding: 25px 0 15px;
				font-weight: normal;
			}

			input {
				display:block;
				box-sizing: border-box;
				margin: 13px auto;
				width: 250px;
				height: 40px;
				padding: 2px 10px;
				border:none;
				font-size: @p;
				color:@grey;
				background:white;
			}

			::-webkit-input-placeholder { font-size:0.9rem; }
			::-moz-placeholder { font-size:0.9rem; }
			:-ms-input-placeholder { font-size:0.9rem; }
			input:-moz-placeholder { font-size:0.9rem; }

			button {
				cursor:pointer;
				display:block;
				width:250px;
				height: 40px;
				margin: 25px auto;
				border:none;
				background:@blue;
				color:white;
				text-transform: uppercase;
			}

			div {
				background:white;
				white-space: nowrap;

				p {
					display: inline-flex;
					width: 50%;
					font-size: 0.9rem;
					color: @grey;
					a {
						width: 100%;
						text-decoration: none;
						color:@blue;
						padding: 18px 24px 18px 24px;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.left {
					text-align: left;
				}
				.right {
					text-align: right;
					a {
					  padding-right: 28px;
					}
				}
			}
		}

	}

	
}