@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  text-decoration: none;
}
a {
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #f2f2f2;
  font-size: 62.5%;
}
#wrapper {
  width: 90%;
  margin: auto;
}
header {
  padding: 3em 0;
}
header h1 {
  display: block;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #26aeee;
}
section {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
section article a {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 2em 3em;
  box-sizing: border-box;
}
section article a:hover {
  background: rgba(38, 174, 238, 0.05);
}
section article p {
  color: #727272;
  font-size: 1.1rem;
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
section #upload {
  background: #fafafa;
  width: 300px;
  margin: 0 auto;
  top: 20%;
  vertical-align: middle;
}
section #upload h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0 15px;
  font-weight: normal;
}
section #upload input {
  display: block;
  box-sizing: border-box;
  margin: 13px auto;
  width: 250px;
  height: 40px;
  padding: 2px 10px;
  border: none;
  font-size: 1.1rem;
  color: #727272;
  background: white;
}
section #upload ::-webkit-input-placeholder {
  font-size: 0.9rem;
}
section #upload ::-moz-placeholder {
  font-size: 0.9rem;
}
section #upload :-ms-input-placeholder {
  font-size: 0.9rem;
}
section #upload input:-moz-placeholder {
  font-size: 0.9rem;
}
section #upload button {
  cursor: pointer;
  display: block;
  width: 250px;
  height: 40px;
  margin: 25px auto;
  border: none;
  background: #26aeee;
  color: white;
  text-transform: uppercase;
}
form {
  background: #fafafa;
  width: 300px;
  margin: 0 auto;
  top: 20%;
  vertical-align: middle;
}
form h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0 15px;
  font-weight: normal;
}
form input {
  display: block;
  box-sizing: border-box;
  margin: 13px auto;
  width: 250px;
  height: 40px;
  padding: 2px 10px;
  border: none;
  font-size: 1.1rem;
  color: #727272;
  background: white;
}
form ::-webkit-input-placeholder {
  font-size: 0.9rem;
}
form ::-moz-placeholder {
  font-size: 0.9rem;
}
form :-ms-input-placeholder {
  font-size: 0.9rem;
}
form input:-moz-placeholder {
  font-size: 0.9rem;
}
form button {
  cursor: pointer;
  display: block;
  width: 250px;
  height: 40px;
  margin: 25px auto;
  border: none;
  background: #26aeee;
  color: white;
  text-transform: uppercase;
}
form div {
  background: white;
  padding: 18px;
}
form div p {
  text-align: center;
  font-size: 0.9rem;
  color: #727272;
}
form div p a {
  text-decoration: none;
  color: #26aeee;
}
form div p a:hover {
  text-decoration: underline;
}
